* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
}
h1,
h2 {
  margin-bottom: 1rem;
}
section {
  padding: 2rem;
}
